$grey: #eaeaea;

.card {
  padding: 25px 50px;
  border: 1px solid $grey;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 3px 5px 5px $grey;

  .title {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
  }
  .title.color-black {
    color: #000;
  }
}
