.evolution-chain-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -30px;
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 10px 30px 20px;
  width: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

  .evolutions-title {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .evolution-container {
    display: flex;
    align-items: center;

    .arrow {
      height: 0px;
      border-style: solid;
      border-width: 0 10px 10px 0;
      display: inline-block;
      padding: 20px;
      margin-left: -30px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .evolution-step {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      .evolution-image-container {
        border-style: solid;
        border-width: 3px;
        border-radius: 999px;
        margin: 10px 30px;

        .evolution-image {
          width: 150px;
        }
      }

      .evolution-name-container {
        text-align: center;

        .evolution-name {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
    }
  }
}
