<div
  class="evolution-chain-container"
  [ngStyle]="{ 'background-color': background }"
>
  <label class="evolutions-title" [ngStyle]="{color}">Evolutions</label>
  <div
    *ngFor="let evolution of evolutionChain; let i = index"
    class="evolution-container"
  >
    <i *ngIf="i !== 0" class="arrow" [ngStyle]="{ 'border-color': color }"></i>
    <div class="evolution-step" (click)="goToPokemon(evolution.id)">
      <div
        class="evolution-image-container"
        [ngStyle]="{ 'border-color': color }"
      >
        <img src="{{ evolution.image }}" class="evolution-image" />
      </div>
      <div class="evolution-name-container">
        <label class="evolution-name" [ngStyle]="{color}">
          {{ evolution.name }}
        </label>
      </div>
    </div>
  </div>
</div>
