<div
  class="pokedex"
  infiniteScroll
  [infiniteScrollDistance]="0"
  (scrolled)="onScrollDown()"
>
  <div class="list-header">
    <div></div>
    <div class="list-controls">
      <app-search-bar
        class="search-bar"
        [search]="search"
        (searchChange)="onSearchChange($event)"
      ></app-search-bar>
      <app-select
        label="Order by"
        [options]="orderOptions"
        [selectedOption]="order"
        (selectChange)="onOrderChange($event)"
      ></app-select>
      <app-select
        label="Show"
        [options]="generationOptions"
        [selectedOption]="generation"
        (selectChange)="onGenerationChange($event)"
      ></app-select>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="onAddPokemon()"
      class="add-pokemon-button"
    >
      Add Pokemon <fa-icon [icon]="addIcon"></fa-icon>
    </button>
  </div>

  <div class="cards-container">
    <app-pokemon-card
      *ngFor="let pokemon of pokemonsToDisplay"
      [pokemon]="pokemon"
    ></app-pokemon-card>
    <app-not-found *ngIf="pokemonsToDisplay.length === 0"></app-not-found>
  </div>
</div>
