<div
  class="pokedex"
  infiniteScroll
  [infiniteScrollDistance]="0"
  (scrolled)="onScrollDown()"
>
  <div class="list-header">
    <app-search-bar
      class="search-bar"
      [search]="search"
      (searchChange)="onSearchChange($event)"
    ></app-search-bar>
    <app-order-by
      [orderOptions]="orderOptions"
      [currentOrder]="order"
      (orderChange)="onOrderChange($event)"
    ></app-order-by>
    <app-generation-filter
      [selectedGeneration]="selectedGeneration"
      (generationChange)="onGenerationChange($event)"
    ></app-generation-filter>
  </div>

  <div class="cards-container">
    <app-pokemon-card
      *ngFor="let pokemon of pokemonsToDisplay"
      [pokemon]="pokemon"
    ></app-pokemon-card>
    <app-not-found *ngIf="pokemonsToDisplay.length === 0"></app-not-found>
  </div>
</div>
