$light-grey: #eaeaea;
$transparent-grey: rgb(234, 234, 234, 0.5);

.card {
  padding: 25px 50px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  img {
    background-color: $transparent-grey;
    width: 215px;
    height: 215px;
  }
  .id {
    color: #fff;
    margin: 5px;
  }

  .title {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin: 10px 5px;
  }

  .color-black {
    color: #000;
  }
}
