<div
  class="card"
  [ngStyle]="{ 'background-color': pokemon.background }"
  (click)="goToPokemonDetails()"
>
  <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" />
  <p
    class="id"
    [ngClass]="{
      'color-black':
        pokemon.background === 'white' || pokemon.background === 'yellow'
    }"
  >
    {{ "#" + ("00" + pokemon.id).slice(-3) }}
  </p>
  <p
    class="title"
    [ngClass]="{
      'color-black':
        pokemon.background === 'white' || pokemon.background === 'yellow'
    }"
  >
    {{ pokemon.name }}
  </p>
</div>
