.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main-left main-right"
    "footer footer";
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

  .pokemon-name {
    text-transform: capitalize;
  }
}

main {
  width: 100%;
  .main-left {
    grid-area: main-left;
    width: 100%;

    .pokemon-image {
      height: 100%;
      display: block;
      margin-left: auto;
    }
  }
  .main-right {
    grid-area: main-right;
    width: 100%;
  }

  .stats {
    .stat-container {
      margin-top: 10px;
      .stat-name {
        text-transform: capitalize;
      }
    }
  }
}

footer {
  grid-area: footer;
}
