.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 15px 30px;

  .pokemon-name {
    text-transform: capitalize;
    font-weight: bold;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .pokemon {
    width: 100%;
    max-width: 900px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .pokemon-image {
      height: 300px;
      border: 1px solid #ccc;
      border-radius: 20px;
    }

    .pokemon-data {
      max-width: 500px;
      text-align: justify;

      .pokemon-type-title {
        font-weight: bold;
      }

      .pokemon-type {
        // display: block;
        text-transform: uppercase;
        padding: 5px 15px;
        background-color: #ccc;
        border-radius: 10px;
        margin-left: 10px;
      }
    }
  }

  .pokemon-stats {
    width: 100%;
    max-width: 900px;
    margin-top: 50px;

    .stat-container {
      margin-top: 10px;

      .stat-name {
        text-transform: capitalize;
      }
    }
  }
}
