<div class="container" *ngIf="pokemon">
  <header>
    <button (click)="goBack()">Go back</button>
    <h1 class="pokemon-name">{{ pokemon.name }} #{{ pokemon.id }}</h1>
    <div></div>
  </header>
  <main>
    <div class="main-left">
      <img src="{{ pokemon.image }}" class="pokemon-image" />
    </div>
    <div class="main-right">
      <p>{{ pokemon.description }}</p>
      <p>Type: {{ pokemon.type }}</p>
    </div>
    <div class="stats">
      <h2>Stats</h2>
      <div class="stat-container" *ngFor="let stat of pokemon.stats">
        <label class="stat-name">{{ stat.name }}</label>
        <mat-progress-bar
          mode="determinate"
          [value]="stat.value / 1.5"
        ></mat-progress-bar>
      </div>
    </div>
  </main>
</div>
