<div class="container" *ngIf="pokemon">
  <div class="header" [ngStyle]="{ 'background-color': pokemon.color }">
    <button
      class="go-back-button"
      (click)="goBack()"
      [ngStyle]="{ color: getPokemonNameColor(), 'border-color': getPokemonNameColor() }"
    >
      <fa-icon [icon]="faAnglesLeft"></fa-icon> Go back
    </button>
    <h1 class="pokemon-name" [ngStyle]="{ color: getPokemonNameColor() }">
      {{ pokemon.name }} #{{ pokemon.id }}
    </h1>
    <div></div>
  </div>

  <div class="content">
    <div class="pokemon">
      <div>
        <img src="{{ pokemon.image }}" class="pokemon-image" />
      </div>
      <div class="pokemon-data">
        <p>{{ pokemon.description }}</p>
        <label class="pokemon-type-title">Type:</label>
        <label class="pokemon-type">{{ pokemon.type }}</label>
      </div>
    </div>
    <div class="pokemon-stats">
      <h2>Stats</h2>
      <div class="stat-container" *ngFor="let stat of pokemon.stats">
        <label class="stat-name">{{ stat.name }}</label>
        <mat-progress-bar
          mode="determinate"
          [value]="stat.value / 1.5"
        ></mat-progress-bar>
      </div>
    </div>
  </div>
</div>
