<div class="container">
  <h2 class="title">Add Pokemon</h2>
  <form [formGroup]="addPokemonForm" (ngSubmit)="onSubmit()" class="form">
    <div class="row around">
      <mat-form-field appearance="outline" class="standard-width">
        <mat-label for="name">Name</mat-label>
        <input matInput id="name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="standard-width">
        <mat-label for="type">Type</mat-label>
        <input matInput id="type" formControlName="type" />
      </mat-form-field>
    </div>

    <div class="row around">
      <mat-form-field appearance="outline" class="standard-width">
        <mat-label for="color">Color</mat-label>
        <input matInput type="color" id="color" formControlName="color" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="standard-width">
        <mat-label for="name">Image URL</mat-label>
        <input matInput id="image" formControlName="image" />
      </mat-form-field>
    </div>

    <div class="row around">
      <mat-form-field appearance="outline" class="standard-width">
        <mat-label for="descriptionSpanish">Description (Spanish)</mat-label>
        <textarea
          matInput
          id="descriptionSpanish"
          formControlName="descriptionSpanish"
          rows="3"
        ></textarea>
      </mat-form-field>
      <div class="column">
        <div class="row between standard-width">
          <mat-label for="hp">HP</mat-label>
          <mat-slider
            id="hp"
            thumbLabel
            color="primary"
            tickInterval="1"
            step="1"
            min="0"
            max="150"
            formControlName="hp"
          ></mat-slider>
        </div>
        <div class="row between standard-width">
          <mat-label for="speed">Speed</mat-label>
          <mat-slider
            id="speed"
            thumbLabel
            color="primary"
            tickInterval="1"
            step="1"
            min="0"
            max="150"
            formControlName="speed"
          ></mat-slider>
        </div>
      </div>
    </div>

    <div class="row around">
      <mat-form-field appearance="outline" class="standard-width">
        <mat-label for="descriptionEnglish">Description (English)</mat-label>
        <textarea
          matInput
          id="descriptionEnglish"
          formControlName="descriptionEnglish"
          rows="3"
        ></textarea>
      </mat-form-field>
      <div class="column">
        <div class="row between standard-width">
          <mat-label for="attack">Attack</mat-label>
          <mat-slider
            id="attack"
            thumbLabel
            color="primary"
            tickInterval="1"
            step="1"
            min="0"
            max="150"
            formControlName="attack"
          ></mat-slider>
        </div>
        <div class="row between standard-width">
          <mat-label for="specialAttack">Special Attack</mat-label>
          <mat-slider
            id="specialAttack"
            thumbLabel
            color="primary"
            tickInterval="1"
            step="1"
            min="0"
            max="150"
            formControlName="specialAttack"
          ></mat-slider>
        </div>
      </div>
    </div>

    <div class="row around">
      <mat-form-field appearance="outline" class="standard-width">
        <mat-label for="descriptionFrench">Description (French)</mat-label>
        <textarea
          matInput
          id="descriptionFrench"
          formControlName="descriptionFrench"
          rows="3"
        ></textarea>
      </mat-form-field>

      <div class="column">
        <div class="row between standard-width">
          <mat-label for="defense">Defense</mat-label>
          <mat-slider
            id="defense"
            thumbLabel
            color="primary"
            tickInterval="1"
            step="1"
            min="0"
            max="150"
            formControlName="defense"
          ></mat-slider>
        </div>
        <div class="row between standard-width">
          <mat-label for="specialDefense">Special Defense</mat-label>
          <mat-slider
            id="specialDefense"
            thumbLabel
            color="primary"
            tickInterval="1"
            step="1"
            min="0"
            max="150"
            formControlName="specialDefense"
          ></mat-slider>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit" class="add-button">
      Add
    </button>
  </form>
</div>
