.container {
  width: 90vw;
  max-width: 600px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}
.around {
  justify-content: space-around;
}
.between {
  justify-content: space-between;
}
.standard-width {
  width: 230px;
}

.column {
  display: flex;
  flex-direction: column;
}

.add-button {
  width: 300px;
  margin: 10px auto 0;
}
