.container {
  display: grid;
  grid-template-rows: 50px 1fr 75px;
  grid-template-columns: 50px auto 50px;
  grid-template-areas:
    '. header .'
    'main main main'
    'footer footer footer';
}

header {
  grid-area: header;
}

.logo {
  height: 100%;
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-column-start: 1;
}

footer {
  grid-area: footer;
}
