div {
  border: 1px solid #ccc;
  padding: 5px 14px;
  border-radius: 15px;
  width: fit-content;
}

select {
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: capitalize;
  margin-left: 5px;
}
